.to-plate-division .display-50
{
	margin-bottom: 0px;
}



/* font-face start
----------------------------*/

@font-face
{ 
	font-family: 'GOODDC';
	src:url('../fonts/GOODDC.eot') format('eot'), 
		url('../fonts/GOODDC.svg') format('svg'), 	
		url('../fonts/GOODDC.ttf') format('ttf'), 
		url('../fonts/GOODDC.woff') format('woff'), 
		url('../fonts/GOODDC.woff2') format('woff2');
}
@font-face
{ 
	font-family: 'Montserrat-Light';
	src:url('../fonts/Montserrat-Light.eot') format('eot'), 
		url('../fonts/Montserrat-Light.svg') format('svg'), 	
		url('../fonts/Montserrat-Light.ttf') format('ttf'), 
		url('../fonts/Montserrat-Light.woff') format('woff'), 
		url('../fonts/Montserrat-Light.woff2') format('woff2');
		font-weight: 300;
}
@font-face
{ 
	font-family: 'Montserrat-Regular';
	src:url('../fonts/Montserrat-Regular.eot') format('eot'), 
		url('../fonts/Montserrat-Regular.svg') format('svg'), 	
		url('../fonts/Montserrat-Regular.ttf') format('ttf'), 
		url('../fonts/Montserrat-Regular.woff') format('woff'), 
		url('../fonts/Montserrat-Regular.woff2') format('woff2');
		font-weight: 400;
}
@font-face
{ 
	font-family: 'Montserrat-Bold';
	src:url('../fonts/Montserrat-Bold.eot') format('eot'), 
		url('../fonts/Montserrat-Bold.svg') format('svg'), 	
		url('../fonts/Montserrat-Bold.ttf') format('ttf'), 
		url('../fonts/Montserrat-Bold.woff') format('woff'), 
		url('../fonts/Montserrat-Bold.woff2') format('woff2');
		font-weight: 700;
}



/* reset css start
----------------------------*/
*{ box-sizing:border-box;}
body{ padding:0; margin:0; scroll-behavior:smooth;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0}
figure{ padding:0; margin:0;display: flex;}
img{margin: 0; padding: 0;max-width: 100%;}
ul,li{ text-decoration:none; display:inline; margin:0; padding:0;}
a{ text-decoration:none; text-decoration-line: none;display: inline-block;}
a:hover{text-decoration:none; text-decoration-line: none;}
p{ margin:0; padding:0}


/* default css
----------------------------*/
body
{
	font-family: 'Montserrat-Regular';
	font-weight: 400;
	background-color: #212121;
}
.container
{
	width: 100%;
	max-width: 1230px;
	padding: 0px 20px;
	display: flex;
	justify-content: center;
}
.wrap-1080
{
	width: 100%;
	max-width: 1080px;
	display: flex;
	justify-content: center;
}
.display-flex
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.display-33
{
	display: flex;
	flex: 0 0 33.33%;
}
.display-50
{
	display: flex;
	flex: 0 0 50%;
	margin-bottom: 55px;
}
.item.slick-slide
{
	outline: none;
}

/* This css is for Our-Menu Section Start */
.our-menu-heading
{
	text-align: center;
	margin-bottom: 27px;
}
.our-menu-heading h2
{
	font-family: 'GOODDC';
	font-weight: 100;
	font-size: 71px;
	margin-bottom: -9px;
}
.our-menu-heading h4
{
	text-transform: uppercase;
	font-size: 46px;
	font-family: 'Montserrat-Regular';
	font-weight: 400;
}
/* This css is for Our-Menu Section Start */

/* Header Section
----------------------------*/

.pageheader
{
	position: absolute;
    width: 100%;
    z-index: 10;
    padding-top: 35px;
}
.menu
{
	position: absolute;
	right: 0;
	display: inline;
	text-transform: uppercase;
	margin-right: 16px;
}
.menu ul li a
{
	margin: 18px;
	font-size: 35px;
	color: #98aa71;
}
.menu ul li a:hover
{
	color: #fff;
}

/* Mobile View Menu
----------------------------*/

i.fa.fa-times:hover 
{
    color: #fff;
}
.pageheader i
{
	position: absolute;
	top: 0%;
	right: 10%;
	margin-top: 30px;
	color: #98aa71;
	font-size: 30px;
	z-index: 10;
	display: none;
}
.pageheader .nav-menu ul li
{
	display: block;
	padding: 10px;

}
.pageheader .nav-menu ul li a
{
	color: #98aa71;
	font-size: 25px;
    margin-top: 52px;	
}
.pageheader .nav-menu ul li a:hover {
    transform: scale(1.5);
    color: #fff;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}
.pageheader .nav-menu
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    text-align: center;
    height: 100vh;
	background-color: rgba(93,105,66,0.7);
}

/* Banner Section
----------------------------*/

.banner-image
{
	position: relative;
	min-height: 85vh;
}
.banner-bg .banner-caption
{
	position: absolute;
	top: 46%;
	right: 20.5%;
	transform: translate(50%,-50%);
	text-align: left;
	text-transform: uppercase;
	color: #98aa71;
}
.banner-bg .banner-caption .logo-design
{
	margin-bottom: 93px;
}
.banner-bg .banner-caption h2
{
	font-size: 57px;
	margin-bottom: -12px;
}
.banner-bg .banner-caption h1
{
	font-family: 'Montserrat-Regular';
	font-weight: 700;
	font-size: 78px;
	margin-bottom: 127px;
}
.banner-bg .banner-caption .button
{
	padding: 18px 24px;
	font-size: 49px;
	background-color: rgba(93,105,66,0.7);
	color: #98aa71;
	transition: all 0.5s ease;
}
.banner-bg .banner-caption .button:hover
{
	color: #fff;
	background-color: rgba(0,0,0,0.8);
}

/* What-Cook Section
----------------------------*/

.what-cook-bg .what-cook-image
{
	width: 100%;
	position: relative;
}
.what-cook-bg .what-cook-image figure
{
	display: flex;
	float: right;
}

.what-cook-bg .what-cook-caption
{
	position: absolute;
	top: 48%;
	left: 33.6%;
	transform: translate(-50%,-50%);
	width: 50%;
}
.what-cook-bg .what-cook-caption h2
{
	font-size: 29px;
	font-family: 'GOODDC';
	color: #afc67b;
	font-weight: 300;
	margin-bottom: 35px;
}
.what-cook-bg .what-cook-caption p
{
	font-size: 19px;
	line-height: 29px;
	width: 76%;
	color: #fff;
	font-family: 'Montserrat-Light';
	font-weight: 300;
}

/* Three-Dots Section
----------------------------*/

.three-dots-bg
{
	background-color: rgba(78,83,66,0.8);
	padding-top: 96px;
	padding-bottom: 91px;
}
.three-dots-caption
{
	display: flex;
	flex-wrap: wrap;
}
.dots-direction figure
{
	width: 27px;
    height: 36px;
    display: inline-block;
    background: url(../images/brush.png) repeat-x left center;
}
/*.dots-direction figure:nth-child(2+1)
{
	width: cal(27px*3);
}*/
.dots-section
{
	color: #fff;
}
.dots-direction
{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px
}
.three-dots-caption h3
{
	font-family: 'GOODDC';
	font-weight: 100;
	font-size: 25px;
	line-height: 33px;
	margin-bottom: 29px;
}
.three-dots-caption p
{
	line-height: 25px;
}
.dots-section
{
	display: flex;
	flex-direction: column;
}

/* To-Your-Plate Section
----------------------------*/

.to-your-plate
{
	padding: 89px 0px;
}
.to-your-plate-bg
{
	background-color: rgba(78,83,66,0.8);
	width: 100%;
	padding-top: 46px;
}
.to-your-plate-caption
{
	flex-direction: column;
	margin-bottom: 50px;
}
.to-your-plate-caption h3
{
	font-size: 46px;
	line-height: 61px;
	color: #afc67b;
	font-family: 'GOODDC';
	font-weight: 100;
	margin-bottom: -14px;
}
.to-your-plate-caption h2
{
	font-size: 42px;
	line-height: 63px;
	color: #eaeaea;
	font-family: 'Montserrat-Light';
	font-weight: 300;
	text-transform: uppercase;
}
.box
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.box figure
{
	display: flex;
}
.box h4
{
	font-family: 'GOODDC';
	font-weight: 100;
	font-size: 29px;
	color: #afc67b;
	margin-bottom: 20px;
}
.box p
{
	font-family: 'Montserrat-Light';
	font-weight: 300;
	font-size: 14px;
	color: #e8e8e8;
	width: 56%;
	margin-bottom: 18px;
}
.box h6
{
	font-family: 'GOODDC';
	font-weight: 100;
	font-size: 25px;
	color: #e8e8e8;
	margin-bottom: 10px;
}
.box h6:hover
{
	color: #afc67b;
}
.to-plate-division
{
	display: flex;
	flex-wrap: wrap;
}
.display-25
{
	display: flex;
	flex: 0 0 25%;
}


/* Thinks-Simple Section
----------------------------*/
.thinks-simple-bg
{
	padding-top: 106px;
	padding-bottom: 87px;
	background-color: rgba(69,73,59,0.8);
}
.thinks-simple-caption
{
	text-align: center;
}
.thinks-simple-caption h2
{
	font-size: 42px;
	color: #afc67b;
	font-family: 'GOODDC';
	font-weight: 100;
	margin-bottom: 29px;
}
.thinks-simple-caption p
{
	font-size: 18px;
	width: 67%;
	margin: 0 auto;
	color: #dcdcdb;
	font-family: 'Montserrat-Light';
	font-weight: 300;
	margin-bottom: 40px;
	line-height: 1.5;
}
.thinks-simple-caption figure
{
	width: calc(27px*3);
    height: 36px;
    display: inline-block;
    background: url(../images/brush.png) repeat-x left center;
}


/* Our-Menu Section
----------------------------*/
.our-menu-bg
{
	position: relative;
}
.our-menu-caption
{
	position: absolute;
	top: 31.3%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	background-color: #3e4136;
	padding-top: 32px;
	padding-bottom: 25px;
	color: #e7e7e7;
}
.our-menu-caption .container
{
	display: flex;
	flex-direction: column;
}
.our-menu-caption .menu-items
{
	display: flex;
	flex-wrap: wrap;
}
.our-menu-caption .menu-items .item-detail
{
	margin-left: 25px;
}
.our-menu-caption .menu-items .item-detail h6
{
	font-family: 'GOODDC';
	font-weight: 100;
	font-size: 25px;
	margin-bottom: 12px;
}
.our-menu-caption .menu-items .item-detail p
{
	font-family: 'Montserrat-Light';
	font-weight: 300;
	font-size: 17px;
	width: 85%;
}
.our-menu-caption .menu-items .item-detail p span
{
	font-family: 'GOODDC';
	font-weight: 100;
}


/* Book-Here Section
----------------------------*/

.book-here
{
	padding-top: 29px;
	padding-bottom: 70px;
}
.book-here .container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.book-here-heading h2
{
	font-size: 77px;
	font-family: 'GOODDC';
	font-weight: 100;
	margin-bottom: 23px;
}
.book-here .container form
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.book-here .container form .display-33
{
	flex-direction: column;
	margin-bottom: 40px;
}
.book-here .container form .display-33:nth-child(3n+2)
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.book-here .container form .display-33:nth-child(3n+0)
{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.book-here .container form .item-align
{
	align-items: center;
}
.book-here .container form .display-33 p
{
	font-size: 17px;
	font-family: 'Montserrat-Bold';
	font-weight: 700;
	margin-bottom: 10px;
}
.book-here .container form .display-33 select,input
{
	width: 60%;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 6px 6px;
	color: #fff;
	outline: none;
}
.book-here .container form .display-33 select option
{
	background-color: #212121;
	outline: none;
}
.book-here .container form .display-33 select,input::placeholder
{
	color: #fff;
}
input[type="submit"]
{
	width: 100%;
    padding: 5px 85px;
    margin-top: 17px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.5s ease;
    outline: none;
}
input[type="submit"]:hover
{
	background-color: #fff;
	color: #000;
}

/* Our-Menu-2 Section
----------------------------*/

.our-menu-2-bg
{
	background-color: rgba(62,65,54,0.8);
	padding-top: 32px;
	padding-bottom: 100px;
}
.our-menu-2-bg .container
{
	flex-direction: column;
	align-items: center;
}
.our-menu-2-bg .our-menu-heading
{
	color: #e7e7e7;
	margin-bottom: 58px; /*46px*/
}
.our-menu-2-bg .our-menu-heading h2
{
	color: #afc67b;
}
.our-menu-card
{
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
}
.our-menu-card .display-33
{
	flex: 0 0 32%;
	padding-right: 25px;
	flex-direction: column;
}
.card-slider
{
	max-width: 100%;
	flex: 0 0 100%;
}
.card
{
	margin-bottom: 20px;
}
.card-caption
{
	background-color: #e7e7e7;
	width: 100%;
	font-family: 'Montserrat-Bold';
	font-weight: 700;
	padding: 0px 19px;
	padding-top: 16px;
	padding-bottom: 26px;
}
.card-caption span
{
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 33px;
	color: #555555;
}
.card-caption h6
{
	font-size: 17px;
	color: #4f4e4e;
	margin-top: 11px;
	margin-bottom: 3px
}
.card-caption p
{
	font-family: 'Montserrat-Light';
	font-weight: 300;
	font-size: 17px;
	color: #4f4e4e;
	margin-bottom: 16px;
}
.card-caption a
{
	text-transform: uppercase;
	position: relative;
}
.card-caption a:after
{
	content: "";
	position: absolute;
	top: 80%;
	left: 0%;
	height: 7px;
	width: 100%;
	background-color: #afc67b;
}


/* Footer Section
----------------------------*/

/* Top-Footer
----------------------------*/

.social-links
{
	padding-top: 38px;
	padding-bottom: 45px;
}
.social-links .container
{
	flex-direction: column;
	align-items: center;
}

.social-links h2,h4
{
	font-family: 'GOODDC';
	font-weight: 100;
	color: #afc67b;
}
.social-links h2
{
	font-size: 83px;
	margin-bottom: -23px;
}
.social-links p
{
	font-size: 19px;
	color: #aac078;
	width: 60%;
	text-align: center;
	font-family: 'Montserrat-Regular';
	font-weight: 400;
	margin-bottom: 13px;
}
.social-links h4
{
	font-size: 29px;
	line-height: 33px;
	margin-bottom: 29px;
}
.social
{
	justify-content: space-between;
    display: flex;
    width: 36%;
}
.social i
{
	height: 50px;
	width: 50px;
	font-size: 33px;
	text-align: center;
	color: #212121;
	background-color: #fff;
	border-radius: 50%;
	padding-top: 10px;
	transition: all 0.5s ease;
}
.social i:hover
{
	background-color: #afc67b;
}

/* Bootom-Footer
----------------------------*/

.bottom-footer
{
	padding-top: 67px;
	padding-bottom: 53px;
	background-color: rgba(56,59,50,0.8);
}
.about
{
	display: flex;
	flex-wrap: wrap;
}
.left-about p
{
	font-size: 19px;
	line-height: 29px;
	color: #e7e7e7;
	width: 75%;
}
.right-about
{
	display: flex;
	width: 100%;
}
.bottom-footer h4
{
	font-size: 25px;
	line-height: 33px;
	color: #e7e7e7;
	font-family: 'Montserrat-Bold';
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.right-about h4
{
	font-size: 21px;
}
.right-about ul
{
	display: flex;
	flex-direction: column;
}
.right-about ul li
{
	font-size: 21px;
	line-height: 33px;
	color: #e7e7e7;
	font-family: 'Montserrat-Bold';
	font-weight: 700;
	transition: all 0.5s ease;
}
.right-about ul li:hover
{
	color: #afc67b;
}
.right-about .light-font ul li
{
	font-size: 21px;
	line-height: 33px;
	color: #e7e7e7;
	font-family: 'Montserrat-Regular';
	font-weight: 400;
}
.right-about .display-33
{
	flex-direction: column;
}

/* Media Queries
----------------------------*/
@media(max-width: 1200px)
{
	.pageheader
	{
		padding-top: 40px;
	}
	.menu ul li a
	{
		font-size: 25px;
	}
	.banner-bg .banner-caption
	{
		top: 53%;
		right: 24.5%;
	}
	.banner-bg .banner-caption .logo-design
	{
		margin-bottom: 60px;
	}
	.banner-bg .banner-caption h2
	{
		font-size: 40px;
	}
	.banner-bg .banner-caption h1
	{
		font-size: 56px;
		margin-bottom: 60px;
	}
	.banner-bg .banner-caption .button
	{
		font-size: 35px;
	}
	.what-cook-bg .what-cook-caption
	{
		padding: 10px;
		background-color: rgba(0,0,0,0.5);
	}

	.three-dots-bg
	{
		padding-top: 60px;
		padding-bottom: 70px;
	}
	.three-dots-caption p
	{
		font-size: 14px;
		width: 85%;
	}

	.thinks-simple-bg
	{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.box h4
	{
		font-size: 25px;
		margin-bottom: 16px;
	}
	.box p
	{
		font-size: 12px;
		margin-bottom: 16px;
	}
	.box h6
	{
		font-size: 20px;
	}

	.our-menu-2-bg
	{
		padding-bottom: 40px;
	}
	.card-caption span
	{
		font-size: 10px;
	}

	/*.card-slider.our-menu-card
	{
		width: 100%;
		max-width: 981px;
		margin: 0 auto;
	}*/

	input[type="submit"]
	{
		padding: 4px 64px;
	}

	.left-about p
	{
		font-size: 16px;
	}
}
@media(max-width: 1024px)
{
	.our-menu-caption
	{
		top: 40%;
	}
	.card-caption span
	{
		font-size: 10px;
	}
}
@media(max-width: 991px)
{
	.pageheader
	{
		padding-top: 15px;
	}
	.menu ul li a
	{
		margin: 10px;
		font-size: 20px;
	}

	.banner-bg .banner-caption .logo-design
	{
		margin-bottom: 25px;
	}
	.banner-bg .banner-caption h2
	{
		font-size: 32px;
	}
	.banner-bg .banner-caption h1
	{
		font-size: 46px;
	    margin-bottom: 40px;
	}
	.banner-bg .banner-caption .button
	{
		font-size: 29px;
	}


	.what-cook-bg .what-cook-caption
	{
		padding: 10px;
	}
	.what-cook-bg .what-cook-caption h2
	{
		margin-bottom: 20px;
	}
	.what-cook-bg .what-cook-caption p
	{
		width: 96%;
	}

	.dots-direction
	{
		margin-bottom: 10px;
	}
	.three-dots-caption h3
	{
		margin-bottom: 15px;
	}

	.box h4
	{
		font-size: 24px;
		margin-bottom: 14px;
	}
	.box p
	{
		width: 75%;
	    margin-bottom: 12px;
	}

	.our-menu-caption
	{
		top: 48%;
	}

	input[type="submit"]
	{
		padding: 4px 40px;
		font-size: 15px;
	}

	.social-links p
	{
		font-size: 17px;
	}
	.social
	{
		width: 50%;
	}

	.bottom-footer h4
	{
		font-size: 23px;
		margin-bottom: 25px;
	}
	.right-about h4
	{
		font-size: 19px;
	}
	.right-about ul li
	{
		font-size: 17px;
	}
	.right-about .light-font ul li
	{
		font-size: 17px;
	}
}
@media(max-width: 767px)
{
	.pageheader i
	{
		display: block;
	}
	.pageheader
	{
		padding-top: 10px;
	}
	.menu
	{
		display: none;
	}

	.what-cook-bg .what-cook-caption p
	{
		width: 100%;
		font-size: 16px;
	    line-height: 25px;
	}

	.dots-direction figure
	{
		height: 33px;
	}
	.three-dots-caption h3
	{
		font-size: 19px;
		margin-bottom: 12px;
	}
	.three-dots-caption p
	{
		font-size: 12px;
	}

	.box h4 
	{
    	font-size: 21px;
    	margin-bottom: 5px;
	}
	.box p 
	{
    	width: 96%;
    	font-size: 10px;
    	margin-bottom: 5px;
    }
    .box h6
    {
    	font-size: 16px;
    }

    .thinks-simple-bg
    {
    	padding-top: 40px;
    	padding-bottom: 40px;
    }
 	.thinks-simple-caption h2 
 	{
    	font-size: 35px;
   		margin-bottom: 20px;
   	}
    .thinks-simple-caption p 
    {
    	font-size: 15px;
    	width: 75%;
    	margin-bottom: 20px;
	}

	.our-menu-heading
	{
		margin-bottom: 20px;
	}
	.our-menu-heading h2
	{
		font-size: 55px;
	}
	.our-menu-heading h4
	{
		font-size: 35px;
	}
	.display-50
	{
		margin-bottom: 30px;
	}
	.our-menu-caption .menu-items .item-detail h6
	{
		font-size: 22px;
	}
	.our-menu-caption .menu-items .item-detail p
	{
		font-size: 15px;
		width: 98%;
	}

	.book-here-heading h2
	{
		font-size: 60px;
	}
	.book-here .container form .display-33 p
	{
		font-size: 13px;
	}
	.book-here .container form .display-33
	{
		margin-bottom: 25px;
	}

	button.slick-arrow 
	{
	    position: absolute;
	    top: -5%;
	    left: 48%;
	    transform: translate(-50%,-50%);
	    border: 0;
	    width: 83px;
	    height: 25px;
	    background-color: rgba(93,105,66,0.7);
	    color: #98aa71;
	    text-transform: uppercase;
	    outline: none;
	    cursor: pointer;
	}
	button.slick-next.slick-arrow 
	{
	    top: inherit;
	    bottom: -6%;
	    right: 50%;
	}

	.social
	{
		width: 60%;
	}
}
@media(max-width: 576px)
{
	.logo-design img
	{
		max-width: 90px;
	}
	.banner-bg .banner-caption h2
	{
		font-size: 23px;
	}
	.banner-bg .banner-caption h1
	{
		font-size: 33px;
	}	
	.banner-bg .banner-caption .button 
	{
		font-size: 18px;
    	padding: 12px 25px;
    }

    .three-dots-caption p
    {
    	line-height: 17px;
    }

    .thinks-simple-caption p
    {
    	line-height: 15px;
    }


	.what-cook-bg .what-cook-caption h2
	{
		font-size: 26px;
		margin-bottom: 15px;
	}
	.what-cook-bg .what-cook-caption p
	{
		font-size: 14px;
	    line-height: 23px;
	}

	.our-menu-caption
    {
    	padding-top: 42px;
    }

	.to-your-plate-caption
	{
		margin-bottom: 30px;
	}
	.box h4
	{
		font-size: 28px;
	}
	.box p
	{
		width: 96%;
    	font-size: 16px;
	}
	.box h6
	{
		font-size: 20px;  
	}
	.box.display-25
	{
		display: flex;
		flex: 0 0 50%;
	}

	.book-here
	{
		padding-top: 40px;
	}

	.social i 
	{
    	height: 40px;
    	width: 40px;
    	font-size: 21px;
	}

	.about .display-50
	{
		display: flex;
		flex: 0 0 100%;
		text-align: center;
	}
	.left-about p
	{
		margin: 0 auto;
	}
}
@media(max-width: 480px)
{
	.logo-design img
	{
		max-width: 60px;
	}
	.banner-bg .banner-caption .logo-design
	{
		margin-bottom: 5px;
	}
	.banner-bg .banner-caption h2
	{
		font-size: 18px;
		margin-bottom: -8px;
	}
	.banner-bg .banner-caption h1
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.banner-bg .banner-caption .button 
	{
	    font-size: 14px;
	    padding: 5px 16px;
	}

	.what-cook-bg .what-cook-caption
	{
		padding: 5px;
	}
	.what-cook-bg .what-cook-caption h2 
	{
    	font-size: 17px;
    	margin-bottom: 10px;
	}
	.what-cook-bg .what-cook-caption p 
	{
    	font-size: 11px;
   		line-height: 12px;
	}

	.three-dots-caption
	{
		justify-content: center;
	}
	.dots-section.display-33 
	{
    	display: flex;
    	flex: 0 0 50%;
    	margin-bottom: 10px;
	}
	.three-dots-bg 
	{
   		padding-top: 30px;
    	padding-bottom: 20px;
	}
	.dots-direction 
	{
    	margin-bottom: 5px;
	}
	.three-dots-caption h3 
	{
		margin-bottom: 5px;
	}
	.three-dots-caption p 
	{
    	line-height: 15px;
	}

	.to-your-plate 
	{
   		padding: 30px 0px;
	}
	.to-your-plate-caption 
	{
    	margin-bottom: 0px;
	}
	.to-your-plate-bg
	{
		padding-top: 10px;
	}
	.to-your-plate-caption h3 
	{
	    font-size: 38px;
	    line-height: 40px;
	}
	.to-your-plate-caption h2 
	{
    	font-size: 25px;
    	line-height: 60px;
	}
	.box h4 
	{
   		font-size: 20px;
	}
	.box p 
	{
    	width: 92%;
    	font-size: 12px;
	}

	.thinks-simple-bg 
	{
    	padding-top: 30px;
    	padding-bottom: 30px;
	}
	.thinks-simple-caption h2 
	{
    	font-size: 25px;
    	margin-bottom: 15px;
	}
	.thinks-simple-caption p 
	{
		font-size: 14px;
		width: 100%;
		margin-bottom: 15px;
    	line-height: 14px;
	}


	.our-menu-caption 
	{
    	top: 59%;
	}
	.our-menu-caption 
	{
    	padding-top: 20px;
	}
	.our-menu-heading 
	{
    	margin-bottom: 15px;
	}
	.our-menu-caption .menu-items .item-detail 
	{
    	margin-left: 10px;
	}
	.our-menu-caption .menu-items .item-detail h6 
	{
		margin-bottom: 9px;
    	font-size: 16px;
	}
	.our-menu-caption .menu-items .item-detail p 
	{
    	font-size: 13px;
    	width: 100%;
	}
	.our-menu-heading h2 
	{
    	font-size: 40px;
		margin-bottom: -7px;
	}
	.our-menu-heading h4 
	{
    	font-size: 25px;
	}
	.display-50 
	{
    	margin-bottom: 12px;
	}

	.book-here 
	{
	   	padding-top: 110px;
	   	padding-bottom: 20px;
	}

	.book-here .container form .display-33
	{
		display: flex;
		flex: 0 0 50%;
		justify-content: center;
		align-items: center;
	}
	.book-here .container form .display-33:nth-child(3n+0)
	{
		align-items: center;
	}


	.social-links h2 
	{
	    font-size: 75px;
	}
	.social-links p 
	{
    	font-size: 15px;
		width: 100%;
	}
	.social-links h4 
	{
    	font-size: 25px;
    	line-height: 20px;
    	margin-bottom: 20px;
	}
	.social 
	{
    	width: 86%;
	}

	.bottom-footer 
	{
    	padding-top: 40px;
    	padding-bottom: 0px;
	}
	.left-about p 
	{
    	font-size: 15px;
    	line-height: 20px;
    	width: 97%;
	}
}